*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 900;
}
/* main */

.container{
    height: 100vh;
    position: relative;
}
.bg_r{
    background-color: red;
}
.bg_g{
    background-color: green;
}
.bg_y{
    background-color: yellow;
}
nav > div{
    float: right;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    margin: 5px 10px;
}
div > a{
    color: black;
    text-decoration: none;
}
.container > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text{
    text-align: center;
    font-size: 4rem;
    width: 750px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.yellow_text{
    color: yellow;
}
.green_text{
    color: green;
}